<div class="container">
    <form action="/api/courses" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" placeholder="Enter name">
    </div>
     <div class="form-group">
        <label>Author</label>
        <input type="text" class="form-control" name="author" placeholder="Enter author">
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" name="price" placeholder="Enter price">
    </div>
     <div class="form-group">
        <label>Upload file</label>
        <input type="file" name="file">
    </div>

    <input type="submit" value="Post">
</form>
</div>